.category-card{
    margin-bottom: 2rem;
    text-align: center;
}

.category-card a{
    text-decoration: none;
    color: black;
}
.category-card img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    transition: transform 0.3s ease; /* Smooth transition */
}

.category-card img:hover {
    transform: scale(1.09); /* Slight zoom on hover */
}



.category-product-nam{
    font-size: 16px;
    color: gray;
    margin-top: 10px;
}

.category-product-nam:hover{
    color: var(--brown);
}